<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <%= render 'layouts/flash_messages' %>
    <div class="ui container">
        <%= yield %>
    </div>
  </body>
</html>
